
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    {% if config.GOOGLE_FEED_BURNER_ADDRESS %}
        <link rel="alternate" type="application/atom+xml" title="{{ config.TITLE }}" href="http://feeds.feedburner.com/{{ config.GOOGLE_FEED_BURNER_ADDRESS }}">
    {% else %}
        <link rel="alternate" type="application/atom+xml" title="{{ config.TITLE }}" href="/atom.xml">
    {% endif %}

    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Leap-Day/stylesheets/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Leap-Day/stylesheets/pygment_trac.css') }}">
    <script src="{{ url_for('static', filename='Leap-Day/javascripts/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Leap-Day/javascripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='Leap-Day/javascripts/moment.min.js') }}"></script>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<header>
    <h1>{{ config.TITLE }}</h1>
    <p>{{ config.DESCRIPTION }}</p>
</header>

<div id="banner">
    <div class="banner-inner">
        <span id="logo"></span>

        <a href="/" class="button fork"><strong>home</strong></a>
        <div class="downloads">
            <ul>
                {% if config.GOOGLE_FEED_BURNER_ADDRESS %}
                    <li><a href="http://feeds.feedburner.com/{{ config.GOOGLE_FEED_BURNER_ADDRESS }}" class="button">feed</a></li>
                {% else %}
                    <li><a href="/atom.xml" class="button">feed</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</div><!-- end banner -->

<div class="wrapper">
    <nav>
        <ul></ul>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block pagination %}{% endblock %}

    <footer>
        <p>Project maintained by <a href="https://github.com/sakim">sakim</a></p>
        <p><span class="small">Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span></p>
    </footer>
</div>
<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
</body>
</html>