{% extends "Leap-Day/layout.html" %}

{% block body %}
    {% for post in posts %}
        <section>
            <h1 id="{{ post.post_id }}"><a href="/posts/{{ post.post_id }}">{{ post.title }}</a></h1>
            <span class="date"></span>
            <span class="credits">by {{ post.author }}</span>
            <div>{{ post.content_markup }}</div>

            <a href="{{ config.SITE_URL }}/posts/{{ post.post_id }}#disqus_thread"></a>
        </section>
        <script type="text/javascript">
            var fromNow = moment('{{ post.date }}', "YYYY-MM-DD HH:mm:ss Z").fromNow();
            $(".date").replaceWith('<span class="credits">' + fromNow + '</span>');
        </script>
    {% endfor %}

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ config.DISQUS_SHORTNAME }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}

{% block pagination %}
    <div class='pagination'>
        {% if page != 1 %}
            <a href="/posts?page={{ page - 1 }}">< 이전</a>
        {% endif %}
        <a href="/posts?page={{ page + 1 }}">다음 ></a>
    </div>
{% endblock %}