{% extends "Octopress-Flat/layout.html" %}

{% block title %}
    <title>Server Error - {{ config.TITLE }}</title>
{% endblock %}

{% block body %}
    <div>
        <article>
            <header>
                <h1 class="entry-title">Server Error</h1>
            </header>
        <span class="categories">
        </span>
            <div class="entry-content">
                Looks like something went wrong!
            </div>

            <footer>
                <p class="meta">
                </p>

                <div class="sharing">
                </div>
            </footer>
        </article>
    </div>
{% endblock %}
